h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  overflow-y: hidden;
  overflow-x: hidden;
}
 input[type="text"] {
  font-family: Cambria, Georgia;
  padding: 10px 10px;
  margin: 4px 2px;
  font-size: 14px;
  height: 25px;
}
 textarea {
   font-family: Cambria, Georgia;
   padding: 10px 10px;
   margin: 4px 2px;
   font-size: 14px;
   height: 100px;
   width: 180px;
   resize: none;
 }

button {
  cursor: pointer;
  font-family: Cambria, Georgia;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 150px;
  height: 47px;
  transition-duration: 0.4s;
}
button:hover {
  background: #2b6f2b;
}
button:disabled {
  background: rgba(0, 0, 0, 0.16);
  cursor: default;
}
button:focus {
  background: #091809;
}

.globalOffset {
  margin-left: 20px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
